# Logs
logs
*.log
npm-debug.log*

# Dependencies & Outputs
node_modules
dist
dist-ssr
*.local

# Environment variables & secrets
.env
.env.*
*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
