# Database Connection String
ATLASDB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/zerodha?appName=Cluster0

# Authentication Token Secret Key
TOKEN_KEY=Your_JWT_Secret_Key_Here

# Razorpay Test / Live API Keys
RAZORPAY_KEY_ID=rzp_test_...
RAZORPAY_KEY_SECRET=...
