:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}



.nav-link {
  margin-left: 1rem;
  color: #666;
}


.nav-link:hover,
.nav-link.active {
  color: #387ed1 !important;
}


.footer-font {
  font-size: 12px;
}

.text-small {
  font-size: 12px;
}

.brokerage-table td,
.brokerage-table th {
  padding: 20px;
}

/* Background */
.support-bg {
  background-color: #f5f5f5;
}


/* Zerodha-style button */
.zerodha-btn {
  background-color: #387ed1;
  color: white;
  padding: 10px 22px;
  border-radius: 6px;
  font-weight: 500;
}

.zerodha-btn:hover {
  background-color: #2f6db8;
  color: white;
}

/* Search input styling */
.search-input {
  height: 56px;
  padding-left: 45px;
  font-size: 16px;
  border-radius: 6px;
}

/* Search icon positioning */
.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #777;
  font-size: 18px;
}